.classroombooking{
	display: block;

}
.classroombooking input{
	padding: 20px 7px;
	margin-bottom: 5px;
}

.modal-header{
	background: #fff;
}
.modal-body {
    position: relative;
    padding: 15px;
    display: inline-block;
    width: 100%;
}
